* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
	color: #3492ff;
}

a:hover {
	color: #0071B5;
}

main h2,
main h3,
main h4 {
	font-weight: normal;
	padding: .5em 1.5rem .3em 1.5rem;
}

main h4 {
	font-style: italic;
}

main p {
	padding: .5em 1.5rem;
}

pre code.hljs {
	font-size: 1.4em !important;
	padding: 0 1.5rem 0 1.5rem !important;
}
/* Layout */
.l-page {
	display: grid;
	grid-template-columns: 310px 1fr;
	grid-template-rows: 64px 1fr;
	grid-template-areas: "header header"
											 "sidebar content";
}
.l-header {
	position: fixed;
	z-index: 1;
	background-color: #FFF;
	box-shadow: 0 0 2.25rem #9da5ab;
	height: 64px;
	display: flex;
	align-items: center;
	padding-left: 15px;
	width: 100%;
	grid-area: header;
}
.l-header h1 {
	line-height: 1em;
}
.l-toc {
	grid-area: sidebar;
	padding: 28px 15px 30px 15px;
	border-right: 1px solid #ccc;
}
.l-content {
	grid-area: content;
	padding-top: 15px;
	padding-bottom: 30px;
}

/* Modules */
.menu ul {
	padding-left: 2.1rem;
}
.menu li {
	list-style: none;
	padding-bottom: .2rem;
}
.menu li a {
	text-decoration: none;
}