.content h2,
.content h3,
.content h4 {
	font-weight: normal;
	padding: .5em 1.5rem .3em 1.5rem;
}

.content h2 {
	padding-bottom: 0em;
}

.content h3 {
	background: #e8e8e8;
	line-height: 1em;
	padding-top: .6em;
	padding-bottom: .6em;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	font-size: 1.3rem;
}

.content h4 {
	font-style: italic;
	margin-top: .5em;
}

.content p {
	padding: .5em 1.5rem;
}

.content pre code.hljs {
	font-size: 1.4em !important;
	padding: 0 1.5rem 0 1.5rem !important;
}